In [0]:
import pandas as pd
import matplotlib as plt

In [0]:
!pip install -q kaggle

In [9]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"namesakeh","key":"6d737f20673c33b4bf027145c29ec5c8"}'}

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [12]:
!kaggle config set -n path -v{/content}

Warning: Your Kaggle API key is readable by otherusers on this system! To fix this, you can run'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: {/content}

In [13]:
!kaggle datasets download -d fernandol/countries-of-the-world -p /content

Warning: Your Kaggle API key is readable by otherusers on this system! To fix this, you can run'chmod 600 /root/.kaggle/kaggle.json'
Downloading countries-of-the-world.zip to /content
  0% 0.00/13.4k [00:00<?, ?B/s]
100% 13.4k/13.4k [00:00<00:00, 5.17MB/s]

In [14]:
!unzip \*.zip

Archive:  countries-of-the-world.zip
  inflating: countries of the world.csv

In [0]:
countries_data = pd.read_csv('countries of the world.csv')

In [38]:
countries_data.head()

,Country,Population,GDP ($ per capita),Literacy (%),Phones (per 1000)
0,Afghanistan,31056997,700.0,"36,0","3,2"
1,Albania,3581655,4500.0,"86,5","71,2"
2,Algeria,32930091,6000.0,"70,0","78,1"
3,American Samoa,57794,8000.0,"97,0","259,5"
4,Andorra,71201,19000.0,"100,0","497,2"

In [16]:
countries_data.columns

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [0]:
countries_data=countries_data.dropna(axis=0)

In [0]:
countries_data = countries_data.drop(['Region','Area (sq. mi.)',
       'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)','Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'], axis=1)

In [19]:
countries_data.describe()

         Population  GDP ($ per capita)
count  1.790000e+02          179.000000
mean   3.421415e+07         9125.698324
std    1.317639e+08         9644.123141
min    1.347700e+04          500.000000
25%    1.188580e+06         1800.000000
50%    6.940432e+06         5100.000000
75%    2.086014e+07        12950.000000
max    1.313974e+09        37800.000000

In [20]:
countries_data.head()

,Country,Population,Pop. Density (per sq. mi.),GDP ($ per capita),Literacy (%),Phones (per 1000)
0,Afghanistan,31056997,"48,0",700.0,"36,0","3,2"
1,Albania,3581655,"124,6",4500.0,"86,5","71,2"
2,Algeria,32930091,"13,8",6000.0,"70,0","78,1"
6,Anguilla,13477,"132,1",8600.0,"95,0","460,0"
7,Antigua & Barbuda,69108,"156,0",11000.0,"89,0","549,9"