In [0]:
# imports
import pandas as pd
import matplotlib as plt
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [0]:
!pip install -q kaggle

In [0]:
from google.colab import files
files.upload()

In [0]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [5]:
!kaggle config set -n path -v{/content}

Warning: Your Kaggle API key is readable by otherusers on this system! To fix this, you can run'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: {/content}

In [6]:
!kaggle datasets download -d fernandol/countries-of-the-world -p /content

Warning: Your Kaggle API key is readable by otherusers on this system! To fix this, you can run'chmod 600 /root/.kaggle/kaggle.json'
countries-of-the-world.zip: Skipping, found more recently modified local copy (use --force to force download)

In [7]:
!unzip \*.zip

Archive:  countries-of-the-world.zip
replace countries of the world.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: countries of the world.csv

In [0]:
countries_data = pd.read_csv('countries of the world.csv')

In [9]:
countries_data.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [10]:
countries_data.columns

Index(['Country', 'Region', 'Population', 'Area (sq. mi.)',
       'Pop. Density (per sq. mi.)', 'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)',
       'GDP ($ per capita)', 'Literacy (%)', 'Phones (per 1000)', 'Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [0]:
countries_data=countries_data.dropna(axis=0)

In [0]:
countries_data = countries_data.drop(['Region','Area (sq. mi.)',
       'Coastline (coast/area ratio)',
       'Net migration', 'Infant mortality (per 1000 births)','Arable (%)',
       'Crops (%)', 'Other (%)', 'Climate', 'Birthrate', 'Deathrate',
       'Agriculture', 'Industry', 'Service'], axis=1)

In [0]:
countries_data['Pop. Density (per sq. mi.)'] = countries_data['Pop. Density (per sq. mi.)'].str.replace(',','.')

In [0]:
countries_data = countries_data.rename(columns={'Phones (per 1000)': 'Phones'})

In [0]:
countries_data['Phones'] = countries_data['Phones'].str.replace(',','.')

In [0]:
countries_data['Literacy (%)'] = countries_data['Literacy (%)'].str.replace(',','.')

In [17]:
countries_data.describe()

         Population  GDP ($ per capita)
count  1.790000e+02          179.000000
mean   3.421415e+07         9125.698324
std    1.317639e+08         9644.123141
min    1.347700e+04          500.000000
25%    1.188580e+06         1800.000000
50%    6.940432e+06         5100.000000
75%    2.086014e+07        12950.000000
max    1.313974e+09        37800.000000

In [18]:
countries_data.head()

,Country,Population,Pop. Density (per sq. mi.),GDP ($ per capita),Literacy (%),Phones
0,Afghanistan,31056997,48.0,700.0,36.0,3.2
1,Albania,3581655,124.6,4500.0,86.5,71.2
2,Algeria,32930091,13.8,6000.0,70.0,78.1
6,Anguilla,13477,132.1,8600.0,95.0,460.0
7,Antigua & Barbuda,69108,156.0,11000.0,89.0,549.9

In [0]:
y = countries_data.Phones

In [0]:
#setting features for prediction
countries_features = ['Population','Pop. Density (per sq. mi.)','GDP ($ per capita)','Literacy (%)']

In [0]:
x = countries_data[countries_features]

In [22]:
x.describe()

         Population  GDP ($ per capita)
count  1.790000e+02          179.000000
mean   3.421415e+07         9125.698324
std    1.317639e+08         9644.123141
min    1.347700e+04          500.000000
25%    1.188580e+06         1800.000000
50%    6.940432e+06         5100.000000
75%    2.086014e+07        12950.000000
max    1.313974e+09        37800.000000

In [0]:
#test train split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.33,random_state=42)

In [24]:
X_train.head()

     Population Pop. Density (per sq. mi.)  GDP ($ per capita) Literacy (%)
214   298444215                       31.0             37800.0         97.0
41     16134219                       21.3              9900.0         96.2
183     6005250                       83.7               500.0         31.4
117     3042004                       27.3              1000.0         57.5
26      1639833                        2.7              9000.0         79.8

In [25]:
#Defining the model
countries_model = DecisionTreeRegressor(random_state=1)
#fitting the model
countries_model.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [0]:
#Making Predictions

#print("The predictions are")
prediction = countries_model.predict(X_test.head())

In [27]:
#predicted Values
print(prediction)

[461.7 614.6 586.4 543.5 614.6]

In [28]:
#actual Values
actual=y_test.head()
print(actual)

93     647.7
19     462.6
76     667.9
146    460.8
91     546.7
Name: Phones, dtype: object